<!DOCTYPE html>
<html>
<head>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Angular-->
	<script src="node_modules/angular/angular.min.js"></script>

	<!-- Bootstrap -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
	<header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#">Начать новый тест</a></li>
		        <li><a href="#">История</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
	<div>
		К<input maxlength="1" class="letter-input">снуться
	</div>
</div>
</body>
</html>